@import url(./fonts/fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    padding: 2em;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
    font-family: 'NotoSans-Medium';
}

div.search-bar {
    justify-self: end;
}

div.weather {
    align-self: center;
    padding-left: 8em;
    margin-top: -5em;
}

div.general-info {
    margin-bottom: 1em;
}

p.condition {
    font-size: 1rem;
}

p.address {
    line-height: 1;
    font-size: 2.75rem;
    text-transform: uppercase;
    font-family: 'NotoSans-SemiBold';
}

div.more-info {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: start;
    gap: 1em;
}

div.more-info div.details {
    align-self: center;
    border-left: 2px solid rgb(210, 210, 210);
    padding-left: 32px;
    display: grid;
    gap: 12px;
}

p.temp {
    font-size: 7rem;
    font-family: 'NotoSans-Bold';
    padding-right: 32px;
    position: relative;
}

p.temp sup.temp-symbol {
    font-size: 2rem;
    position: absolute;
    right: 16px;
    top: 0;
}
