@import url(./fonts/fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    padding: 2em;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
    font-family: 'NotoSans-Medium';
}

div.search-bar {
    justify-self: end;
}

div.weather {
    align-self: center;
    padding-left: 8em;
    margin-top: -5em;
}

div.general-info {
    margin-bottom: 1em;
}

p.condition {
    font-size: 1rem;
}

p.address {
    line-height: 1;
    font-size: 2.75rem;
    text-transform: uppercase;
    font-family: 'NotoSans-SemiBold';
}
